h1 {
    text-align:center;
}
h2 {
    text-align:center;
}
.header{
    border: 3px solid black
    
}
.content{
    position: absolute;
    top: 200px;    
    right: 50%;
    transform: translate(+50%);
    width: 60%;
    min-height: 72%;
    border: 3px solid rgb(255, 70, 70)
    }

.kaffe-party{
    position: fixed;
    top: 0px;
    right: 0px;
    width: 50%;
    height:100%;
    border: 3px solid #196f97;
}
.kaffe-maschine{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 50%;
    height:100%;
    border: 3px solid #971982;
}
.fill{
    height: 60px;
}

.the-footer{
    position: fixed;
    background-color: crimson;
    right: 50%;
    transform: translate(+50%);
    width: 60%;
    bottom: -10px;
}
.navbar{
    transform: translate(+43%);
}
ul.navbar-list{
    padding-left: 0px;
    background-color: #3D99CE;
    text-align: center;
}
ul.navbar-list > li {
    display: inline-block;
    padding: 10px 20px;
  }
  ul.navbar-list > li:hover {
    background-color: #2779BF;
  }
  ul.navbar-list > li > a {
    color: white;
    text-decoration: none;
  }